@font-face {
  font-family: 'arrow';
  src:  url('../fonts/arrow.eot?oabnym');
  src:  url('../fonts/arrow.eot?oabnym#iefix') format('embedded-opentype'),
    url('../fonts/arrow.ttf?oabnym') format('truetype'),
    url('../fonts/arrow.woff?oabnym') format('woff'),
    url('../fonts/arrow.svg?oabnym#arrow') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'arrow' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-thin-down:before {
  content: "\e900";
}
.icon-chevron-thin-left:before {
  content: "\e901";
}
.icon-chevron-thin-up:before {
  content: "\e902";
}
.icon-chevron-thin-right:before {
  content: "\e903";
}