
.bg-btn_bg_seat_selected_left 
    width: 7px; height: 35px;
    background: url('../image/btn_bg_seat_selected.9.png');

.bg-btn_bg_seat_selected_right
    width: 7px; height: 35px;
    background: url('../image/btn_bg_seat_selected.9.png');


.bg-film_share 
    width: 48px; height: 48px;
    background: url('../image/film_share.png');


.bg-ic_dd_sm 
    width: 40px; height: 40px;
    background: url('../image/ic_dd_sm.png');


.bg-icon_adress2 
    width: 32px; height: 32px;
    background: url('../image/icon_adress2.png');


.bg-icon_phone3 
    width: 48px; height: 48px;
    background: url('../image/icon_phone3.png');


.bg-icon_time2 
    width: 32px; height: 32px;
    background: url('../image/icon_time2.png');


.bg-mine_ic_dd 
    width: 32px; height: 36px;
    background: url('../image/mine_ic_dd.png');


.bg-mine_ic_set 
    width: 34px; height: 34px;
    background: url('../image/mine_ic_set.png');


.bg-mine_ic_sex_sel 
    width: 53px; height: 51px;
    background: url('../image/mine_ic_sex_sel.png');


.bg-mine_ic_tel 
    width: 36px; height: 32px;
    background: url('../image/mine_ic_tel.png');


.bg-mine_ic_wallet 
    width: 36px; height: 32px;
    background: url('../image/mine_ic_wallet.png');


.bg-seat_orange 
    width: 32px; height: 32px;
    background: url('../image/seat_orange.png');


.bg-seat_red 
    width: 32px; height: 32px;
    background: url('../image/seat_red.png');


.bg-seat_white 
    width: 32px; height: 32px;
    background: url('../image/seat_white.png');


.bg-tab_discovery 
    width: 64px; height: 64px;
    background: url('../image/tab_discovery.png');

.bg-tab_theater 
    width: 64px; height: 64px;
    background: url('../image/tab_theater.png');

.bg-tab_movie 
    width: 64px; height: 64px;
    background: url('../image/tab_movie.png');

.bg-tab_user 
    width: 64px; height: 64px;
    background: url('../image/tab_user.png');
