.bg-activity_sel 
    width: 36px; height: 36px;
    background: url('../image/css_sprites.png') -2px -256px;

.bg-activity_unc 
    width: 36px; height: 36px;
    background: url('../image/css_sprites.png') -282px -182px;


.bg-btn_bg_seat_selected_9 
    width: 16px; height: 35px;
    background: url('../image/css_sprites.png') -262px -204px;


.bg-btn_delete_seat 
    width: 36px; height: 36px;
    background: url('../image/css_sprites.png') -282px -142px;


.bg-film_share 
    width: 48px; height: 48px;
    background: url('../image/css_sprites.png') -106px -204px;


.bg-ic_dd_sm 
    width: 40px; height: 40px;
    background: url('../image/css_sprites.png') -282px -54px;


.bg-ic_write 
    width: 48px; height: 48px;
    background: url('../image/css_sprites.png') -54px -204px;


.bg-icon_adress2 
    width: 32px; height: 32px;
    background: url('../image/css_sprites.png') -334px -116px;


.bg-icon_phone3 
    width: 48px; height: 48px;
    background: url('../image/css_sprites.png') -2px -204px;


.bg-icon_sx 
    width: 24px; height: 24px;
    background: url('../image/css_sprites.png') -30px -296px;


.bg-icon_time 
    width: 32px; height: 32px;
    background: url('../image/css_sprites.png') -334px -188px;


.bg-icon_time2 
    width: 32px; height: 32px;
    background: url('../image/css_sprites.png') -334px -260px;


.bg-icon_zb 
    width: 24px; height: 24px;
    background: url('../image/css_sprites.png') -2px -296px;


.bg-mine_ic_aqsz 
    width: 34px; height: 40px;
    background: url('../image/css_sprites.png') -282px -98px;


.bg-mine_ic_data 
    width: 34px; height: 36px;
    background: url('../image/css_sprites.png') -82px -256px;


.bg-mine_ic_dd 
    width: 32px; height: 36px;
    background: url('../image/css_sprites.png') -334px -2px;


.bg-mine_ic_gy 
    width: 34px; height: 34px;
    background: url('../image/css_sprites.png') -196px -256px;


.bg-mine_ic_lxr 
    width: 34px; height: 34px;
    background: url('../image/css_sprites.png') -158px -256px;


.bg-mine_ic_set 
    width: 34px; height: 34px;
    background: url('../image/css_sprites.png') -120px -256px;


.bg-mine_ic_sex_sel 
    width: 53px; height: 51px;
    background: url('../image/css_sprites.png') -214px -138px;


.bg-mine_ic_tel 
    width: 36px; height: 32px;
    background: url('../image/css_sprites.png') -234px -256px;


.bg-mine_ic_wallet 
    width: 36px; height: 32px;
    background: url('../image/css_sprites.png') -274px -256px;


.bg-mine_ic_yhq 
    width: 36px; height: 28px;
    background: url('../image/css_sprites.png') -282px -222px;


.bg-mine_ic_yqm 
    width: 32px; height: 34px;
    background: url('../image/css_sprites.png') -334px -42px;


.bg-mine_ic_yqm_ 
    width: 36px; height: 36px;
    background: url('../image/css_sprites.png') -42px -256px;


.bg-mov_ic_film 
    width: 48px; height: 48px;
    background: url('../image/css_sprites.png') -282px -2px;


.bg-mov_ic_phone 
    width: 48px; height: 48px;
    background: url('../image/css_sprites.png') -210px -204px;


.bg-mov_ic_time 
    width: 48px; height: 48px;
    background: url('../image/css_sprites.png') -158px -204px;


.bg-seat_orange 
    width: 32px; height: 32px;
    background: url('../image/css_sprites.png') -334px -152px;


.bg-seat_red 
    width: 32px; height: 32px;
    background: url('../image/css_sprites.png') -334px -224px;


.bg-seat_white 
    width: 32px; height: 32px;
    background: url('../image/css_sprites.png') -334px -80px;


.bg-tab_discovery 
    width: 64px; height: 64px;
    background: url('../image/css_sprites.png') -2px -68px;

.bg-tab_theater 
    width: 64px; height: 64px;
    background: url('../image/css_sprites.png') -138px -68px;

.bg-tab_movie 
    width: 64px; height: 64px;
    background: url('../image/css_sprites.png') -214px -70px;

.bg-tab_user 
    width: 64px; height: 64px;
    background: url('../image/css_sprites.png') -138px -136px;

.bg-togglebutton_off 
    width: 102px; height: 62px;
    background: url('../image/css_sprites.png') -108px -2px;


.bg-togglebutton_on 
    width: 102px; height: 62px;
    background: url('../image/css_sprites.png') -2px -2px;
