//颜色定义规范
$color-theme = #ff6913
$color-theme-o = #3398f6
$color-theme-l = #ffab19
$color-background = #fafafa
$color-background-d = #f5f5f5
$color-gray = rgba(0,0,0,0.7)
$color-gray-l = rgba(0,0,0,0.3)

// 字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-m = 15px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px